<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrhi2020.ex82retrofitimageupload">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 외장메모리 사용에 대한 퍼미션 : 동적퍼미션 필요  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- api29 버전 이상부터 미디어파일에 대한 위치접근 허용 퍼미션  -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex82RetrofitImageUpload"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>